{# src/OC/PlatformBundle/view/Advert/add/html.twig #}
{%  extends "@NgCore/layout.html.twig" %}
{% block body %}
    <h2>Ajouter une annonce</h2>
    {% include "@OCPlatform/Advert/form.html.twig" %}
{%  endblock %}